body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
